<ion-view view-title="Menu">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="choice in choices" type="item-text-wrap" href="#/tab/menu/{{choice.id}}">
        <img ng-src="{{choice.fac}}">
        <h2>{{choice.name}}</h2>
        <p>{{choice.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
