<ion-view view-title="Checkout">
  

<ion-content>
<ion-item>
<ion-label>Order # - {{refNumber}}</ion-label>
</ion-item>
    <ion-list>
     <ion-item class="item-remove-animate item-avatar " ng-repeat="order in fullOrder" type="item-text-wrap">
        <img ng-src="{{order.img}}">         
        <h2>{{order.name}}</h2>  
        <p ">Qnt : {{order.itemQuantity}}</p> 
        <p>$ {{order.cost}}</p>  
        <button class="button button-small text-right" ng-click="removeItem(order.itemId)" >- </button>            
      </ion-item>
    </ion-list>
  
    <ion-item>
      <p class="text-right">Subtotal $ {{subCost}}</p>
    </ion-item> 

    <ion-item>
      <p  class="text-right">Total (after tax) $ {{totalCost}}</p>
    </ion-item>

  <div class="col text-center">
   <a class="button button-assertive"  href="#/tab/checkout/confirmation">Continue Checkout</a>
  </div>



  </ion-content>
   
</ion-view>
