<ion-view view-title="Dashboard">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  <ion-content class="padding">
    <h3 class="text-center" >Welcome to Dakshin</h3>

    <ion-card>
   <img src="img/dakshin.jpg"/>
   <ion-card-content>
     <ion-card-title>

       </ion-card-title>
       <blockquote blockquote-reverse> <p>"Dakshin" is an ancient Sanskrit word meaning "south".
         It symbolizes what we mean all about the best and most delicious of south Indian
          cuisine. We have been serving Chicago suburbs for more than 14 years
          and at Dakshin, we try to prepare each dish in its own unique and
          distinctive method with the blend of Indian spices and
          taking one step ahead with the blend of Chinese flavor
           to create unique and special varieties of food "THE SOUTH INDIAN
           and INDO CHINESE" style.</p>

   <p>  We take pride in providing each guest with a genuine Indian dining experience
     and our welcome comes from deep within our heart. We will strive to make
      your dining experience a return to those golden times when every
       meal was a feast. Our guests are not just our customers, they mean everything.
        Enjoy your delightful experience at Dakshin.</p>
<footer><b>-Team Dakshin</b></footer>
   </blockquote>
   </ion-card-content>
 </ion-card>

  </ion-content>
</ion-view>
