<ion-view view-title="Checkout">
  
<ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar " ng-repeat="order in fullOrder" type="item-text-wrap">
        <img ng-src="{{order.img}}">
        <h2>{{order.name}}</h2>
        <p>{{order.itemQuantity}}</p> 
        <p>$ {{order.cost}}</p>
                
        <button class="button" ng-click="removeItem(order.itemId)" >-</button>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <p>Subtotal $ {{subCost}}</p>
    </ion-item> 

    <ion-item>
      <p>Total (after tax) $ {{totalCost}}</p>
    </ion-item>

  <div class="col text-center">
   <a class="button button-assertive" href="#/tab/checkout/confirmation">Confirm Order</a>
  </div>



  </ion-content>
   
</ion-view>
